* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1 {
    text-transform: capitalize;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(img/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 20px 10rem;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
    height: 100%;
    background-size: cover;
    align-items: center;
}

.nav-links {
    text-align: right;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.nav-links li::after {
    content: "";
    width: 0%;
    height: 1px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: all 0.5s;
}

.nav-links li:hover::after {
    width: 100%;
}

.text-box {
    display: flex;
    flex: 1;
    width: 60%;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
}

.text-box h1 {
    font-size: 3.8rem;
    color: white;
    text-transform: capitalize;
}

.text-box p {
    font-size: 1rem;
    color: white;
    margin: 10px 0 40px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 36px;
    cursor: pointer;
    font-size: 14px;
}

.hero-btn:hover {
    color: white;
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.6s;
}

nav .fa {
    display: none;
}

/* course section */

.course,
.campus,
.facilities,
.testimonials {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}

.course h1,
.campus h1 .facilities h1,
.testimonials h1 {
    font-size: 36px;
    font-weight: 600;
}

.course p,
.campus p,
.facilities p,
.testimonials p {
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    grid-gap: 20px;
}

.course-col {
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    transition: 0.5s;
}

.course-col h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    background: #ffffff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s all ease-out;
    transform: scale(1.04);
}

@media (max-width: 769px) {
    nav .fa-times {
        margin: 10px;
    }

    nav .fa {
        display: block;
        color: white;

        font-size: 20px;
        cursor: pointer;
    }
    /* 
   

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
   
}

nav a img{
    
    padding: 8px 12px;
    position: relative;
    margin: auto 0;
    left: -120px;
} */

    .text-box h1 {
        font-size: 1.3rem;
    }

    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 250px;
        top: 0;
        right: -250px;
        z-index: 2;
        text-align: left;
        transition: 1s;
    }

    .nav-links li {
        padding: 10px 0px 10px 20px;
        display: block;
    }

    .row {
        flex-direction: column;
    }

    .campus-col img {
        height: 650px;
    }
}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    /* height: 100%; */
    display: block;
}

.layer {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.8);
}

.layer h3 {
    text-transform: uppercase;
    font-size: 24px;
    width: 100%;
    font-weight: 500;
    color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.testimonials-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonials-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonials-col p {
    padding: 0;
}

.testimonials-col h3 {
    margin-top: 15px;
    text-align: left;
}

.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: #ffffff;
    margin-bottom: 40px;
    padding: 0;
}

.footer {
    width: 100%;
    background: #fff3f3;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin: 25px auto;
    font-weight: 600;
}

.footer p {
    width: 60%;
    margin: auto;
}
