    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: #d4b585;
    }
    
    h1 {
        font-family: 'Pacifico', cursive;
        color: #361800;
        font-size: 40px;
        text-align: center;
        margin-top: 15px;
    }
    h2{
        font-family: 'Roboto Slab', serif;
        color: #d4b585;
        text-align: center;
        font-size: 25px;
        margin-top: 20px;
        margin-left:2px;
    }
    
    .container {
        height: 460px;
        width: 260px;
        margin-left: -130px;
        border-radius: 20px;
        /* half of width */
        margin-top: -230px;
        /* half of height*/
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 2px 5px black;
    }
    
    .child {
        height: 230px;
        width: 260px;
        background-color: #2e2823;
    }
    
    .timing {
        font-size: 40px;
        color: #ffffff;
        margin-left: 13px;
        font-family: 'Roboto Slab', serif;
    }
    
    #ch1 {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    #ch2 {
        background-color: rgb(102, 71, 71);
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .timebox {
        display: flex;
        padding: 40px;
        margin: 0px 15px 0px 15px;
    }
    
    .ts {
        font-family: 'Roboto Slab', serif;
        color: #fff;
        font-size: 28px;
        text-align: center;
        margin-top: 15px;
    }

    #st1{

        position: relative;
        left: 3px;
        width: 150px;
        color: rgb(0, 183, 255);
    }
    
    #st2 {

        width: 50%;
        font-size: 18px;
        position: relative;
        right: 2px;
        bottom: 1px;
        color: rgb(255, 166, 0);
    }
    
    .ch2ch {
        display: flex;
        margin-top: 10px;
    }
    
    .sst {
        margin-left: 10px;
        font-size: 20px;
        color: #fff;
    }

    #sst2{
        position: relative;
        left: 10px;
    }
    
    .std {
        font-size: 40px;
        font-family: 'Roboto Slab', serif;
        margin-left: 17px;
    }
    
    #bt {
        margin-left: 25px;
    }
    
    .pmbtn {
        height: 20px;
        width: 40px;
        margin-left: 8px;
        font-family: 'Roboto Slab', serif;
        font-size: 15px;
        border-radius: 5px;
        border: none;
        background-color: rgb(43, 25, 25);
        color: #fff;
    }
    
    #pmbtn1 {
        margin-left: 12px;
    }
    
    #pmbtn2 {
        margin-left: 4px;
    }
    
    #pmbtn3 {
        margin-left: 21px;
    }
    
    #pmbtn4 {
        margin-left: 4px;
    }
    
    .pmbtn:hover {
        background-color: rgb(105, 2, 2);
    }
    
    .pmbtn:active {
        background-color: rgb(105, 2, 2);
        box-shadow: 0 2px rgb(112, 68, 68);
        transform: translateY(2px);
    }
    
    .mnbtn {
        height: 40px;
        width: 90px;
        margin-left: 15px;
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        border-radius: 5px;
        border: none;
        background-color: rgb(43, 25, 25);
        color: #fff;
    }

    #rstbtn{
        margin-left: 52px;;
    }

    
    .mnbtn:hover {
        background-color: rgb(105, 2, 2);
    }
    
    .mnbtn:active {
        background-color: rgb(105, 2, 2);
        box-shadow: 0 10px rgb(112, 68, 68);
        transform: translateY(2px);
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(43, 25, 25);
        color: white;
        text-align: center;
     }