*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section{
  height:100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button{
  border: none;
  outline: none;
  background-color:aquamarine;
  font-size: 24px;
  font-family: 'Montserrat';
  padding: 20px;
  cursor: pointer;
}
h2{
  font-family: 'Montserrat';
  font-size: 30px;
  margin-top: 30px;
}
.loader_bg {
  position: fixed;
  z-index: 999999;
  background: #070d1b;
  width: 100%;
  height: 100%;
}
.loader {
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before,
.loader:after {
  content: "";
  border: 1em solid #2596be;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before {
  animation-delay: 0.5s;
}
@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}