*,*::after,*::before{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: #87CEEB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
#form{
    width: 35rem;
    height: 15rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: center;
    justify-content: center;
    box-shadow: 15px 15px 0px 0px rgba(0,0,0,0.2);
}
#form h3{
    font-size: 2rem;
}
#input{
    position: relative;
    width: 25rem;
    height: 3rem;
    border: none;
    padding: 0 0.5rem;
    font-size: 1.1rem;
    text-align: center;
    background-color: #ADD8E6;
}
#result{
    font-style: italic;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}
.valid #result{
    color: green;
}
.invalid #result{
    color: red;
}
input:focus{
    outline: none;
}
.inputbox{
    position: relative;
}
.inputbox::after{
    position: absolute;
    content: '';
    top: 6px;
    right: 10px;
    color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
#form.valid .inputbox::after{
    content: '✔';
    background-color: green;

    display: flex;
}
#form.invalid .inputbox::after{
    content: '❌';
    background-color: transparent;

    display: flex;
}
