*, *::after, ::before{
    box-sizing: border-box;
    font-family: Gotham Rounded,sans-serif ;
}

body{
    background: linear-gradient(to right, rgb(7, 203, 242), rgb(94, 163, 253),  rgb(88, 194, 255));
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock{
    background-color: rgba(255, 255, 255, 8);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
 }

 .clock .number{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
 }

 .clock .number1 { --rotation: 30deg}
 .clock .number2 { --rotation: 60deg}
 .clock .number3 { --rotation: 90deg}
 .clock .number4 { --rotation: 120deg}
 .clock .number5 { --rotation: 150deg}
 .clock .number6 { --rotation: 180deg}
 .clock .number7 { --rotation: 210deg}
 .clock .number8 { --rotation: 240deg}
 .clock .number9 { --rotation: 270deg}
 .clock .number10 { --rotation: 300deg}
 .clock .number11 { --rotation: 330deg}
 
.clock .hand{
    --rotation:30;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
}

.clock::after{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    z-index: 11;
    top: 50%;
    left: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

 .clock .hand.second{
    width: 3px;
    height: 45%;
    background-color: rgb(8, 0, 255);
 }

 .clock .hand.minute{
    width: 7px;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.808);
 }

 .clock .hand.hour{
    width: 10px;
    height: 35%;
    background-color: black;
 }