#btn {
    color: #fbfcfd;
    text-decoration: none;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#popup {
    display:none;
    padding:2vw;
    width:20vw;
    height:10vw;
    position:absolute;
    right:2vw;
    background-color: #deecf5;
    border: 1px solid #fff;
    border-radius: 10px;
}
#frm{
    display: inline;
}

.inp{
    border: none;
    margin:1vw;
}

#sbmt{
    text-decoration: none;
    padding: 10px 25px;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    position: relative;
    right:0vw; bottom: 0vw;
}