<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/ParticleStyle.css">
    <script src="https://kit.fontawesome.com/2d864d91d2.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
</head>
<body>
<nav class="navbar">
    <div class="max-width">
        <div class="nav-logo">

        </div>
        <div class="navs-menu">
            <ul class="navs-list">
                <li><a href="/" class="navs">Solutions</a></li>
                <li><a href="/" class="navs">Services</a></li>
                <li><a href="/" class="navs">Portfolio</a></li>
                <li><a href="/" class="navs">Insights</a></li>
                <li><a href="/" class="navs">Company</a></li>
                <li><a href="/" class="navs">Contact Us</a></li>
                <li><a href="/" class="navs"><span class="nav-btn">Start Project</span></a></li>
            </ul>
        </div>
    </div>
</nav>
<section class="home" id="home">
    <div class="max-width">
        <div class="home-container">
            <div class="col-left">
                <div class="main-heading">
                    Full Stack Developer's
                </div>
                <div class="sub-heading">The fastest way to develop your ios and android apps</div>
                <a class="home-btn" href="#">
                    Get A Quick Quote
                </a>
                <!--                <div class="home-exp">-->
                <!--                    <div class="tab tab-year">-->
                <!--                        <div class="exp-no">9</div>-->
                <!--                        <div class="exp-name">years</div>-->
                <!--                    </div>-->
                <!--                    <div class="tab tab-team">-->
                <!--                        <div class="exp-no">40</div>-->
                <!--                        <div class="exp-name">Teams</div>-->
                <!--                    </div>-->
                <!--                    <div class="tab tab-year">-->
                <!--                        <div class="exp-no">350</div>-->
                <!--                        <div class="exp-name">Solutions</div>-->
                <!--                    </div>-->
                <!--                    <div class="tab tab-year">-->
                <!--                        <div class="exp-no">150</div>-->
                <!--                        <div class="exp-name">Clientele</div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
            <div class="col-right">
                <svg xmlns="http://www.w3.org/2000/svg" width="874.576" height="673.081" viewBox="0 0 874.576 673.081">
                    <g id="Group_14" data-name="Group 14" transform="translate(-203 -155.811)">
                        <rect id="Rectangle_22" data-name="Rectangle 22" width="874.576" height="1.627"
                              transform="translate(203 827.148)" fill="#2f2e41"/>
                        <path id="Path_96" data-name="Path 96"
                              d="M778.38,237.352h-3.7V136.04A58.637,58.637,0,0,0,716.045,77.4H501.4a58.637,58.637,0,0,0-58.637,58.637V691.847A58.637,58.637,0,0,0,501.4,750.484H716.045a58.637,58.637,0,0,0,58.637-58.637V309.468h3.7Z"
                              transform="translate(230.236 78.408)" fill="#3f3d56"/>
                        <path id="Path_97" data-name="Path 97"
                              d="M763.516,137.688v554.99a43.792,43.792,0,0,1-43.791,43.791H504.051a43.792,43.792,0,0,1-43.791-43.791V137.688A43.792,43.792,0,0,1,504.05,93.9h26.165a20.815,20.815,0,0,0,19.265,28.661H672.447A20.815,20.815,0,0,0,691.711,93.9h28.014a43.792,43.792,0,0,1,43.791,43.791Z"
                              transform="translate(228.921 77.169)" fill="#fff"/>
                        <g id="Group_11" data-name="Group 11" transform="translate(746.713 292.765)">
                            <path id="Path_66" data-name="Path 66"
                                  d="M770.621,178.331s-1.918-6.9-4.8-8.631v8.631s-11.508-1.726-19.66,6.9l7.672,1.726s-11.269,3.74-13.666,19.851l4.8-2.3,12.947,27.619,8.152-14.96,16.3,16.686-3.836-9.206,6.234,2.877-4.316-7.48,19.181,8.631-1.439-4.6,7.028,11.776s24.141-25.01-2.233-51.478C802.988,184.373,791,171.714,770.621,178.331Z"
                                  transform="translate(-711.934 -169.701)" fill="#2f2e41"/>
                            <path id="Path_67" data-name="Path 67"
                                  d="M773.81,251s7.148,27.164,5,30.738,20.73,22.875,20.73,22.875l22.16-4.289,1.43-30.738s-20.016-17.156-15.726-30.023Z"
                                  transform="translate(-717.337 -180.921)" fill="#ffb9b9"/>
                            <path id="Path_68" data-name="Path 68"
                                  d="M773.81,251s7.148,27.164,5,30.738,20.73,22.875,20.73,22.875l22.16-4.289,1.43-30.738s-20.016-17.156-15.726-30.023Z"
                                  transform="translate(-717.337 -180.921)" opacity="0.1"/>
                            <path id="Path_69" data-name="Path 69"
                                  d="M751.089,457.578s-5.719,35.742-1.43,65.05,6.434,50.753,4.289,55.042-4.289,3.574-2.859,8.578,4.289,2.859,1.43,7.863-2.144,13.582-2.144,15.726-3.574,48.609,0,53.613,5,4.289,5,4.289l4.289,25.734,22.875-3.574-3.574-23.59s8.578-4.289,5-7.148-5.719-2.859-3.574-2.859,5.719-.715,2.859-2.145-.715-40.031-.715-40.031,5-70.769,25.019-68.624S843.3,589.108,843.3,589.108l5.719,18.586s2.144,35.027,3.574,37.886.715,3.574,0,5-5.719-2.145-.715,3.574,5,7.863,5,7.863l3.217,37.529L883.334,684.9v-22.16s4.289-7.148,2.859-12.867-1.43-32.883,0-37.886.715-6.434-.715-8.578-5-.715-2.145-5.719,5-17.871.715-27.164-27.879-100.792-37.886-105.8S751.089,457.578,751.089,457.578Z"
                                  transform="translate(-713.202 -215.934)" fill="#2f2e41"/>
                            <path id="Path_70" data-name="Path 70"
                                  d="M784.129,719.694s-16.441-2.859-17.156,1.43a48.947,48.947,0,0,0,0,10.722s-5.719.715-5,5.719,1.43,18.586,1.43,18.586-8.935,21.088-3.932,26.092c.05.05,9.871-.357,15.516-.357h20.583s2.859-10.008,0-11.437-9.293-14.3-8.578-17.156,0-23.59,0-23.59l-3.157.178Z"
                                  transform="translate(-714.789 -257.881)" fill="#3f3d56"/>
                            <path id="Path_71" data-name="Path 71"
                                  d="M886.594,732.74l-8.578,6.434s3.574,12.152,1.43,14.3-6.791,26.807-2.5,28.236,30.738-.715,30.738-.715,29.666,1.072,30.38-.357,2.145-10.008-6.433-12.867-13.582-2.144-16.441-10.723-9.293-21.445-9.293-21.445l-1.43-15.726s-8.578,1.43-10.008,1.43-8.578,3.574-7.863,6.434A9.728,9.728,0,0,1,886.594,732.74Z"
                                  transform="translate(-733.618 -258.06)" fill="#3f3d56"/>
                            <ellipse id="Ellipse_12" data-name="Ellipse 12" cx="29.666" cy="29.666" rx="29.666"
                                     ry="29.666" transform="translate(38.959 19.686)" fill="#ffb9b9"/>
                            <path id="Path_72" data-name="Path 72"
                                  d="M802.117,285.32l10.723-18.742s25.019-1.274,26.449,1.586,13.582,144.4,13.582,144.4,5.719,7.863,2.144,12.867l-3.574,5v10.008s-17.871,14.3-42.175,11.437-55.042-15.726-55.042-15.726l6.434-40.031-.715-117.948,14.4-7.02s16.335,11.309,19.194,14.883S802.117,285.32,802.117,285.32Z"
                                  transform="translate(-714.191 -185.214)" fill="#6c63ff"/>
                            <path id="Path_73" data-name="Path 73"
                                  d="M772.447,285.335l-3.217-18.943-43.963,31.1,24.3,71.484s-15.012,27.164-12.152,37.172,4.289,25.019,4.289,25.019,38.6,10.008,37.886,5,0-27.164,0-27.164,12.5-92.574,6.249-106.691S772.447,285.335,772.447,285.335Z"
                                  transform="translate(-709.541 -185.229)" fill="#e6e6e6"/>
                            <path id="Path_74" data-name="Path 74"
                                  d="M827.013,275.355l-6.791-13.225c0-.414,48.249,6.26,50.4,10.365L864.9,382.581s.715,15.726,4.289,20.015,2.859,11.437,1.43,12.152-25.019,7.863-25.019,7.863-22.875-39.316-20.73-86.5S827.013,275.355,827.013,275.355Z"
                                  transform="translate(-724.791 -184.542)" fill="#e6e6e6"/>
                            <path id="Path_75" data-name="Path 75"
                                  d="M869.768,275.025l7.571-1.612a16.011,16.011,0,0,1,6.726,7.33c2.145,5,27.164,58.617,27.164,62.191s.715,30.023-15.012,30.023-27.879-67.195-27.879-67.195Z"
                                  transform="translate(-732.518 -186.357)" fill="#e6e6e6"/>
                            <path id="Path_76" data-name="Path 76" d="M624.055,388.761l12.867,19.3,7.148-24.3-5-7.148Z"
                                  transform="translate(-594.031 -114.95)" fill="#ffb9b9"/>
                            <path id="Path_77" data-name="Path 77"
                                  d="M610.447,199.337l-6.433-.714-15.727,84.35,27.164,84.351,23.59-17.871L622.6,292.981l5.718-43.605Z"
                                  transform="translate(-588.287 -86.365)" fill="#e6e6e6"/>
                            <path id="Path_78" data-name="Path 78"
                                  d="M814.389,213.785c-3.928-14.318-16.212-24.768-30.767-24.768a31.329,31.329,0,0,0-25.655,13.814l7.34,14.066,7.319-12.066,14.637,13.458-3.444-7.425,5.6,2.32-3.875-6.033,17.22,6.961-1.292-3.713,8.18,10.674A32.176,32.176,0,0,0,814.389,213.785Z"
                                  transform="translate(-714.793 -172.803)" fill="#2f2e41"/>
                            <path id="Path_79" data-name="Path 79" d="M746.261,210.865l19.261,16.793-9.968-21.8Z"
                                  transform="translate(-613.658 -87.527)" opacity="0.1"/>
                            <path id="Path_81" data-name="Path 81"
                                  d="M849.948,309.03s-9.293-28.594-20.73-23.59,4.289,35.027,4.289,35.027l10.008,6.434Z"
                                  transform="translate(-725.566 -188.194)" fill="#ffb9b9"/>
                            <path id="Path_82" data-name="Path 82"
                                  d="M900.48,349.566,850.441,310.25,832.57,336.7s47.179,50.039,57.9,40.031S900.48,349.566,900.48,349.566Z"
                                  transform="translate(-726.774 -192.273)" fill="#e6e6e6"/>
                        </g>
                        <g id="Group_13" data-name="Group 13" transform="translate(-7.7 -11.931)">
                            <rect id="Rectangle_55" data-name="Rectangle 55" width="47.52" height="11.44"
                                  transform="translate(351.54 346.369)" fill="#6c63ff"/>
                            <rect id="Rectangle_56" data-name="Rectangle 56" width="16.72" height="11.44"
                                  transform="translate(546.9 346.369)" fill="#6c63ff"/>
                            <rect id="Rectangle_57" data-name="Rectangle 57" width="16.72" height="11.44"
                                  transform="translate(580.34 346.369)" fill="#6c63ff"/>
                            <rect id="Rectangle_58" data-name="Rectangle 58" width="113.52" height="11.44"
                                  transform="translate(415.78 346.369)" fill="#6c63ff"/>
                            <rect id="Rectangle_59" data-name="Rectangle 59" width="47.52" height="11.44"
                                  transform="translate(291.7 420.289)" fill="#6c63ff"/>
                            <rect id="Rectangle_60" data-name="Rectangle 60" width="16.72" height="11.44"
                                  transform="translate(487.06 420.289)" fill="#6c63ff"/>
                            <rect id="Rectangle_61" data-name="Rectangle 61" width="16.72" height="11.44"
                                  transform="translate(520.5 420.289)" fill="#6c63ff"/>
                            <rect id="Rectangle_62" data-name="Rectangle 62" width="113.52" height="11.44"
                                  transform="translate(355.94 420.289)" fill="#6c63ff"/>
                            <rect id="Rectangle_63" data-name="Rectangle 63" width="47.52" height="11.44"
                                  transform="translate(487.94 371.889)" fill="#6c63ff"/>
                            <rect id="Rectangle_64" data-name="Rectangle 64" width="47.52" height="11.44"
                                  transform="translate(552.18 371.889)" fill="#6c63ff"/>
                            <rect id="Rectangle_66" data-name="Rectangle 66" width="16.72" height="11.44"
                                  transform="translate(291.7 371.889)" fill="#6c63ff"/>
                            <rect id="Rectangle_67" data-name="Rectangle 67" width="16.72" height="11.44"
                                  transform="translate(325.14 371.889)" fill="#6c63ff"/>
                            <rect id="Rectangle_68" data-name="Rectangle 68" width="113.52" height="11.44"
                                  transform="translate(358.58 371.889)" fill="#6c63ff"/>
                            <rect id="Rectangle_69" data-name="Rectangle 69" width="47.52" height="11.44"
                                  transform="translate(436.9 407.969) rotate(180)" fill="#6c63ff"/>
                            <rect id="Rectangle_70" data-name="Rectangle 70" width="47.52" height="11.44"
                                  transform="translate(372.66 407.969) rotate(180)" fill="#6c63ff"/>
                            <rect id="Rectangle_71" data-name="Rectangle 71" width="16.72" height="11.44"
                                  transform="translate(308.42 407.969) rotate(180)" fill="#6c63ff"/>
                            <rect id="Rectangle_73" data-name="Rectangle 73" width="16.72" height="11.44"
                                  transform="translate(599.7 407.969) rotate(180)" fill="#6c63ff"/>
                            <rect id="Rectangle_74" data-name="Rectangle 74" width="113.52" height="11.44"
                                  transform="translate(566.26 407.969) rotate(180)" fill="#6c63ff"/>
                        </g>
                        <path id="Path_156" data-name="Path 156"
                              d="M138.423,692.261l-.94-.352c-.207-.078-20.767-7.955-30.4-25.817s-4.916-39.37-4.867-39.584l.222-.979.94.352c.207.078,20.767,7.955,30.4,25.817s4.916,39.37,4.867,39.584Zm-29.8-27c8.143,15.1,24.391,22.844,28.507,24.611.783-4.412,3.237-22.255-4.9-37.342s-24.389-22.84-28.507-24.611C102.944,632.333,100.491,650.173,108.626,665.26Z"
                              transform="translate(127.262 135.024)" fill="#3f3d56"/>
                        <path id="Path_157" data-name="Path 157"
                              d="M110.864,663.651c17.309,10.414,23.975,31.1,23.975,31.1s-21.4,3.8-38.706-6.613-23.975-31.1-23.975-31.1S93.555,653.237,110.864,663.651Z"
                              transform="translate(130.843 131.199)" fill="#6c63ff"/>
                        <path id="Path_158" data-name="Path 158"
                              d="M986.852,639.131l22-30.948-22.048,34.338-.048,3.546q-2.32-.043-4.592-.2c0-.805,2.288-45.086,2.218-45.888.107-.029.209-4.188.253-4.37l-22.32-34.284,22.376,31.061.059.912,1.69-34.4-19.126-35.44,19.341,29.394c.012-.468,1.641-71.126,1.655-71.562,0,.232-.134,56.241-.134,56.477l18.855-22.356-18.922,27.2-.4,30.8L1005.3,543.8c-22.01,43.224-17.083,28.071-17.867,51.271l25.527-41.225-25.609,47.2Z"
                              transform="translate(-258.957 167.384)" fill="#d0cde1"/>
                        <path id="Path_188" data-name="Path 188"
                              d="M979.2,589.923l15.144-21.3-15.174,23.633-.033,2.44q-1.6-.029-3.16-.136c0-.554,1.575-31.03,1.527-31.582.074-.02.144-2.882.174-3.007l-15.361-23.6,15.4,21.377.04.628,1.163-23.678-13.164-24.391,13.311,20.23c.008-.322,1.13-48.952,1.139-49.252,0,.159-.093,38.708-.092,38.87l12.977-15.387-13.023,18.72-.278,21.2,12.1-20.382c-15.148,29.749-11.757,19.319-12.3,35.287l17.569-28.373L979.545,563.71Z"
                              transform="translate(-21.583 218.754)" fill="#d0cde1"/>
                        <ellipse id="Ellipse_14" data-name="Ellipse 14" cx="2.178" cy="2.178" rx="2.178" ry="2.178"
                                 transform="translate(717.106 222.058)" fill="#3f3d56"/>
                        <ellipse id="Ellipse_15" data-name="Ellipse 15" cx="2.178" cy="2.178" rx="2.178" ry="2.178"
                                 transform="translate(725.092 222.058)" fill="#3f3d56"/>
                        <ellipse id="Ellipse_16" data-name="Ellipse 16" cx="2.178" cy="2.178" rx="2.178" ry="2.178"
                                 transform="translate(733.079 222.058)" fill="#3f3d56"/>
                        <rect id="Rectangle_24" data-name="Rectangle 24" width="22.508" height="2.904"
                              transform="translate(940.736 218.428)" fill="#3f3d56"/>
                        <rect id="Rectangle_25" data-name="Rectangle 25" width="22.508" height="2.904"
                              transform="translate(940.736 222.784)" fill="#3f3d56"/>
                        <rect id="Rectangle_26" data-name="Rectangle 26" width="22.508" height="2.904"
                              transform="translate(940.736 227.141)" fill="#3f3d56"/>
                    </g>
                </svg>
            </div>
        </div>
        <div id="homeParticle"></div>
    </div>

</section>
<section class="aboutus">
    <div class="max-width text-center">
        <h3 class="font-1 main-heading ">Most Reliable App Development Company</h3>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus error magnam, officiis
            omnis quae quia saepe? Ad cum dicta dolores, error excepturi explicabo id nihil quo sunt velit. Ad debitis
            dolorum magni neque voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
            blanditiis consequatur doloremque et impedit, ipsam itaque, maiores modi molestias nisi non omnis quia quod
            recusandae saepe temporibus, vel! Ad corporis culpa est itaque modi quaerat rem sint unde? Asperiores
            dolorum esse exercitationem labore nostrum nulla quisquam tenetur totam! Nam, soluta. Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Aperiam autem commodi dicta doloribus molestias sunt, temporibus ullam?
            Aperiam consectetur dolore dolores, illo numquam provident repellendus sapiente ut. A amet assumenda, autem
            beatae consequatur cum cupiditate delectus distinctio enim ex expedita explicabo harum illo laborum libero
            magnam minus nam non nostrum officiis perspiciatis quae qui, quibusdam recusandae repudiandae sapiente
            voluptas. Amet distinctio enim facilis laboriosam. Aperiam assumenda autem consectetur, culpa earum, eius
            eos ex excepturi fugiat id illum inventore ipsa itaque labore nam non nulla, obcaecati porro quos reiciendis
            sapiente sint suscipit totam unde veritatis vitae voluptate voluptatum. Culpa dolorem illum, ipsa minus
            molestias porro qui reiciendis rerum tenetur. Asperiores id nihil similique!</p>

        <a href="/" class="btn">View Latest work</a>

    </div>
</section>
<section class="services">
    <div class="max-width text-center">
        <h1 class=" font-1 main-heading">
            The Focal Areas of Our Technical Services
        </h1>
        <p class="sub-heading ">
            Being the most reliable mobile application development agency, we offer a complete set of web, mobile and
            design services to our customers.
            Besides providing custom-solutions to our clients we offer them quality services in:
        </p>
        <div class="container">
            <div class="serviceBox grid-container">
                <div class="card1 card">
                    <div class="main-heading">
                        <i></i><span>Mobile App Development</span>
                    </div>
                    <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, excepturi,
                        sed! Maiores? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi blanditiis
                        cumque cupiditate illum iure minus quaerat rem similique voluptatem. Delectus, deleniti.
                    </div>
                </div>
                <div class="card2 card">
                    <div class="main-heading">
                        <i></i><span>Mobile App Development</span>
                    </div>
                    <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, excepturi,
                        sed! Maiores?
                    </div>
                </div>
                <div class="card3 card">
                    <div class="main-heading">
                        <i></i><span>Mobile App Development</span>
                    </div>
                    <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, excepturi,
                        sed! Maiores?
                    </div>
                </div>
                <div class="card4 card">
                    <div class="main-heading">
                        <i></i><span>Mobile App Development</span>
                    </div>
                    <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, excepturi,
                        sed! Maiores?
                    </div>
                </div>
                <div class="card5 card">
                    <div class="main-heading">
                        <i></i><span>Mobile App Development</span>
                    </div>
                    <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, excepturi,
                        sed! Maiores?
                    </div>
                </div>
                <div class="card6 card">
                    <div class="main-heading">
                        <i></i><span>Mobile App Development</span>
                    </div>
                    <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, excepturi,
                        sed! Maiores?
                    </div>
                </div>
            </div>
            <div class="service-image">
                <div class="col-right">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 874.576 673.081">
                        <g id="Group_14" data-name="Group 14" transform="translate(-203 -155.811)">
                            <rect id="Rectangle_22" data-name="Rectangle 22" width="874.576" height="1.627"
                                  transform="translate(203 827.148)" fill="#2f2e41"/>
                            <path id="Path_96" data-name="Path 96"
                                  d="M778.38,237.352h-3.7V136.04A58.637,58.637,0,0,0,716.045,77.4H501.4a58.637,58.637,0,0,0-58.637,58.637V691.847A58.637,58.637,0,0,0,501.4,750.484H716.045a58.637,58.637,0,0,0,58.637-58.637V309.468h3.7Z"
                                  transform="translate(230.236 78.408)" fill="#3f3d56"/>
                            <path id="Path_97" data-name="Path 97"
                                  d="M763.516,137.688v554.99a43.792,43.792,0,0,1-43.791,43.791H504.051a43.792,43.792,0,0,1-43.791-43.791V137.688A43.792,43.792,0,0,1,504.05,93.9h26.165a20.815,20.815,0,0,0,19.265,28.661H672.447A20.815,20.815,0,0,0,691.711,93.9h28.014a43.792,43.792,0,0,1,43.791,43.791Z"
                                  transform="translate(228.921 77.169)" fill="#fff"/>
                            <g id="Group_11" data-name="Group 11" transform="translate(746.713 292.765)">
                                <path id="Path_66" data-name="Path 66"
                                      d="M770.621,178.331s-1.918-6.9-4.8-8.631v8.631s-11.508-1.726-19.66,6.9l7.672,1.726s-11.269,3.74-13.666,19.851l4.8-2.3,12.947,27.619,8.152-14.96,16.3,16.686-3.836-9.206,6.234,2.877-4.316-7.48,19.181,8.631-1.439-4.6,7.028,11.776s24.141-25.01-2.233-51.478C802.988,184.373,791,171.714,770.621,178.331Z"
                                      transform="translate(-711.934 -169.701)" fill="#2f2e41"/>
                                <path id="Path_67" data-name="Path 67"
                                      d="M773.81,251s7.148,27.164,5,30.738,20.73,22.875,20.73,22.875l22.16-4.289,1.43-30.738s-20.016-17.156-15.726-30.023Z"
                                      transform="translate(-717.337 -180.921)" fill="#ffb9b9"/>
                                <path id="Path_68" data-name="Path 68"
                                      d="M773.81,251s7.148,27.164,5,30.738,20.73,22.875,20.73,22.875l22.16-4.289,1.43-30.738s-20.016-17.156-15.726-30.023Z"
                                      transform="translate(-717.337 -180.921)" opacity="0.1"/>
                                <path id="Path_69" data-name="Path 69"
                                      d="M751.089,457.578s-5.719,35.742-1.43,65.05,6.434,50.753,4.289,55.042-4.289,3.574-2.859,8.578,4.289,2.859,1.43,7.863-2.144,13.582-2.144,15.726-3.574,48.609,0,53.613,5,4.289,5,4.289l4.289,25.734,22.875-3.574-3.574-23.59s8.578-4.289,5-7.148-5.719-2.859-3.574-2.859,5.719-.715,2.859-2.145-.715-40.031-.715-40.031,5-70.769,25.019-68.624S843.3,589.108,843.3,589.108l5.719,18.586s2.144,35.027,3.574,37.886.715,3.574,0,5-5.719-2.145-.715,3.574,5,7.863,5,7.863l3.217,37.529L883.334,684.9v-22.16s4.289-7.148,2.859-12.867-1.43-32.883,0-37.886.715-6.434-.715-8.578-5-.715-2.145-5.719,5-17.871.715-27.164-27.879-100.792-37.886-105.8S751.089,457.578,751.089,457.578Z"
                                      transform="translate(-713.202 -215.934)" fill="#2f2e41"/>
                                <path id="Path_70" data-name="Path 70"
                                      d="M784.129,719.694s-16.441-2.859-17.156,1.43a48.947,48.947,0,0,0,0,10.722s-5.719.715-5,5.719,1.43,18.586,1.43,18.586-8.935,21.088-3.932,26.092c.05.05,9.871-.357,15.516-.357h20.583s2.859-10.008,0-11.437-9.293-14.3-8.578-17.156,0-23.59,0-23.59l-3.157.178Z"
                                      transform="translate(-714.789 -257.881)" fill="#3f3d56"/>
                                <path id="Path_71" data-name="Path 71"
                                      d="M886.594,732.74l-8.578,6.434s3.574,12.152,1.43,14.3-6.791,26.807-2.5,28.236,30.738-.715,30.738-.715,29.666,1.072,30.38-.357,2.145-10.008-6.433-12.867-13.582-2.144-16.441-10.723-9.293-21.445-9.293-21.445l-1.43-15.726s-8.578,1.43-10.008,1.43-8.578,3.574-7.863,6.434A9.728,9.728,0,0,1,886.594,732.74Z"
                                      transform="translate(-733.618 -258.06)" fill="#3f3d56"/>
                                <ellipse id="Ellipse_12" data-name="Ellipse 12" cx="29.666" cy="29.666" rx="29.666"
                                         ry="29.666" transform="translate(38.959 19.686)" fill="#ffb9b9"/>
                                <path id="Path_72" data-name="Path 72"
                                      d="M802.117,285.32l10.723-18.742s25.019-1.274,26.449,1.586,13.582,144.4,13.582,144.4,5.719,7.863,2.144,12.867l-3.574,5v10.008s-17.871,14.3-42.175,11.437-55.042-15.726-55.042-15.726l6.434-40.031-.715-117.948,14.4-7.02s16.335,11.309,19.194,14.883S802.117,285.32,802.117,285.32Z"
                                      transform="translate(-714.191 -185.214)" fill="#6c63ff"/>
                                <path id="Path_73" data-name="Path 73"
                                      d="M772.447,285.335l-3.217-18.943-43.963,31.1,24.3,71.484s-15.012,27.164-12.152,37.172,4.289,25.019,4.289,25.019,38.6,10.008,37.886,5,0-27.164,0-27.164,12.5-92.574,6.249-106.691S772.447,285.335,772.447,285.335Z"
                                      transform="translate(-709.541 -185.229)" fill="#e6e6e6"/>
                                <path id="Path_74" data-name="Path 74"
                                      d="M827.013,275.355l-6.791-13.225c0-.414,48.249,6.26,50.4,10.365L864.9,382.581s.715,15.726,4.289,20.015,2.859,11.437,1.43,12.152-25.019,7.863-25.019,7.863-22.875-39.316-20.73-86.5S827.013,275.355,827.013,275.355Z"
                                      transform="translate(-724.791 -184.542)" fill="#e6e6e6"/>
                                <path id="Path_75" data-name="Path 75"
                                      d="M869.768,275.025l7.571-1.612a16.011,16.011,0,0,1,6.726,7.33c2.145,5,27.164,58.617,27.164,62.191s.715,30.023-15.012,30.023-27.879-67.195-27.879-67.195Z"
                                      transform="translate(-732.518 -186.357)" fill="#e6e6e6"/>
                                <path id="Path_76" data-name="Path 76"
                                      d="M624.055,388.761l12.867,19.3,7.148-24.3-5-7.148Z"
                                      transform="translate(-594.031 -114.95)" fill="#ffb9b9"/>
                                <path id="Path_77" data-name="Path 77"
                                      d="M610.447,199.337l-6.433-.714-15.727,84.35,27.164,84.351,23.59-17.871L622.6,292.981l5.718-43.605Z"
                                      transform="translate(-588.287 -86.365)" fill="#e6e6e6"/>
                                <path id="Path_78" data-name="Path 78"
                                      d="M814.389,213.785c-3.928-14.318-16.212-24.768-30.767-24.768a31.329,31.329,0,0,0-25.655,13.814l7.34,14.066,7.319-12.066,14.637,13.458-3.444-7.425,5.6,2.32-3.875-6.033,17.22,6.961-1.292-3.713,8.18,10.674A32.176,32.176,0,0,0,814.389,213.785Z"
                                      transform="translate(-714.793 -172.803)" fill="#2f2e41"/>
                                <path id="Path_79" data-name="Path 79" d="M746.261,210.865l19.261,16.793-9.968-21.8Z"
                                      transform="translate(-613.658 -87.527)" opacity="0.1"/>
                                <path id="Path_81" data-name="Path 81"
                                      d="M849.948,309.03s-9.293-28.594-20.73-23.59,4.289,35.027,4.289,35.027l10.008,6.434Z"
                                      transform="translate(-725.566 -188.194)" fill="#ffb9b9"/>
                                <path id="Path_82" data-name="Path 82"
                                      d="M900.48,349.566,850.441,310.25,832.57,336.7s47.179,50.039,57.9,40.031S900.48,349.566,900.48,349.566Z"
                                      transform="translate(-726.774 -192.273)" fill="#e6e6e6"/>
                            </g>
                            <g id="Group_13" data-name="Group 13" transform="translate(-7.7 -11.931)">
                                <rect id="Rectangle_55" data-name="Rectangle 55" width="47.52" height="11.44"
                                      transform="translate(351.54 346.369)" fill="#6c63ff"/>
                                <rect id="Rectangle_56" data-name="Rectangle 56" width="16.72" height="11.44"
                                      transform="translate(546.9 346.369)" fill="#6c63ff"/>
                                <rect id="Rectangle_57" data-name="Rectangle 57" width="16.72" height="11.44"
                                      transform="translate(580.34 346.369)" fill="#6c63ff"/>
                                <rect id="Rectangle_58" data-name="Rectangle 58" width="113.52" height="11.44"
                                      transform="translate(415.78 346.369)" fill="#6c63ff"/>
                                <rect id="Rectangle_59" data-name="Rectangle 59" width="47.52" height="11.44"
                                      transform="translate(291.7 420.289)" fill="#6c63ff"/>
                                <rect id="Rectangle_60" data-name="Rectangle 60" width="16.72" height="11.44"
                                      transform="translate(487.06 420.289)" fill="#6c63ff"/>
                                <rect id="Rectangle_61" data-name="Rectangle 61" width="16.72" height="11.44"
                                      transform="translate(520.5 420.289)" fill="#6c63ff"/>
                                <rect id="Rectangle_62" data-name="Rectangle 62" width="113.52" height="11.44"
                                      transform="translate(355.94 420.289)" fill="#6c63ff"/>
                                <rect id="Rectangle_63" data-name="Rectangle 63" width="47.52" height="11.44"
                                      transform="translate(487.94 371.889)" fill="#6c63ff"/>
                                <rect id="Rectangle_64" data-name="Rectangle 64" width="47.52" height="11.44"
                                      transform="translate(552.18 371.889)" fill="#6c63ff"/>
                                <rect id="Rectangle_66" data-name="Rectangle 66" width="16.72" height="11.44"
                                      transform="translate(291.7 371.889)" fill="#6c63ff"/>
                                <rect id="Rectangle_67" data-name="Rectangle 67" width="16.72" height="11.44"
                                      transform="translate(325.14 371.889)" fill="#6c63ff"/>
                                <rect id="Rectangle_68" data-name="Rectangle 68" width="113.52" height="11.44"
                                      transform="translate(358.58 371.889)" fill="#6c63ff"/>
                                <rect id="Rectangle_69" data-name="Rectangle 69" width="47.52" height="11.44"
                                      transform="translate(436.9 407.969) rotate(180)" fill="#6c63ff"/>
                                <rect id="Rectangle_70" data-name="Rectangle 70" width="47.52" height="11.44"
                                      transform="translate(372.66 407.969) rotate(180)" fill="#6c63ff"/>
                                <rect id="Rectangle_71" data-name="Rectangle 71" width="16.72" height="11.44"
                                      transform="translate(308.42 407.969) rotate(180)" fill="#6c63ff"/>
                                <rect id="Rectangle_73" data-name="Rectangle 73" width="16.72" height="11.44"
                                      transform="translate(599.7 407.969) rotate(180)" fill="#6c63ff"/>
                                <rect id="Rectangle_74" data-name="Rectangle 74" width="113.52" height="11.44"
                                      transform="translate(566.26 407.969) rotate(180)" fill="#6c63ff"/>
                            </g>
                            <path id="Path_156" data-name="Path 156"
                                  d="M138.423,692.261l-.94-.352c-.207-.078-20.767-7.955-30.4-25.817s-4.916-39.37-4.867-39.584l.222-.979.94.352c.207.078,20.767,7.955,30.4,25.817s4.916,39.37,4.867,39.584Zm-29.8-27c8.143,15.1,24.391,22.844,28.507,24.611.783-4.412,3.237-22.255-4.9-37.342s-24.389-22.84-28.507-24.611C102.944,632.333,100.491,650.173,108.626,665.26Z"
                                  transform="translate(127.262 135.024)" fill="#3f3d56"/>
                            <path id="Path_157" data-name="Path 157"
                                  d="M110.864,663.651c17.309,10.414,23.975,31.1,23.975,31.1s-21.4,3.8-38.706-6.613-23.975-31.1-23.975-31.1S93.555,653.237,110.864,663.651Z"
                                  transform="translate(130.843 131.199)" fill="#6c63ff"/>
                            <path id="Path_158" data-name="Path 158"
                                  d="M986.852,639.131l22-30.948-22.048,34.338-.048,3.546q-2.32-.043-4.592-.2c0-.805,2.288-45.086,2.218-45.888.107-.029.209-4.188.253-4.37l-22.32-34.284,22.376,31.061.059.912,1.69-34.4-19.126-35.44,19.341,29.394c.012-.468,1.641-71.126,1.655-71.562,0,.232-.134,56.241-.134,56.477l18.855-22.356-18.922,27.2-.4,30.8L1005.3,543.8c-22.01,43.224-17.083,28.071-17.867,51.271l25.527-41.225-25.609,47.2Z"
                                  transform="translate(-258.957 167.384)" fill="#d0cde1"/>
                            <path id="Path_188" data-name="Path 188"
                                  d="M979.2,589.923l15.144-21.3-15.174,23.633-.033,2.44q-1.6-.029-3.16-.136c0-.554,1.575-31.03,1.527-31.582.074-.02.144-2.882.174-3.007l-15.361-23.6,15.4,21.377.04.628,1.163-23.678-13.164-24.391,13.311,20.23c.008-.322,1.13-48.952,1.139-49.252,0,.159-.093,38.708-.092,38.87l12.977-15.387-13.023,18.72-.278,21.2,12.1-20.382c-15.148,29.749-11.757,19.319-12.3,35.287l17.569-28.373L979.545,563.71Z"
                                  transform="translate(-21.583 218.754)" fill="#d0cde1"/>
                            <ellipse id="Ellipse_14" data-name="Ellipse 14" cx="2.178" cy="2.178" rx="2.178" ry="2.178"
                                     transform="translate(717.106 222.058)" fill="#3f3d56"/>
                            <ellipse id="Ellipse_15" data-name="Ellipse 15" cx="2.178" cy="2.178" rx="2.178" ry="2.178"
                                     transform="translate(725.092 222.058)" fill="#3f3d56"/>
                            <ellipse id="Ellipse_16" data-name="Ellipse 16" cx="2.178" cy="2.178" rx="2.178" ry="2.178"
                                     transform="translate(733.079 222.058)" fill="#3f3d56"/>
                            <rect id="Rectangle_24" data-name="Rectangle 24" width="22.508" height="2.904"
                                  transform="translate(940.736 218.428)" fill="#3f3d56"/>
                            <rect id="Rectangle_25" data-name="Rectangle 25" width="22.508" height="2.904"
                                  transform="translate(940.736 222.784)" fill="#3f3d56"/>
                            <rect id="Rectangle_26" data-name="Rectangle 26" width="22.508" height="2.904"
                                  transform="translate(940.736 227.141)" fill="#3f3d56"/>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        <a href="/" class="btn">View All Services</a>
    </div>
</section>
<section class="solutions">
    <div class="max-width center">
        <div class="main-heading">Our Customized Business Solutions</div>
        <div class="sub-heading">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi necessitatibus nostrum obcaecati!
        </div>
        <div class="container">
            <div class="solution-container owl-carousel owl-theme">
                <div class="box"><img src="png/winter-1.png" alt="">
                    <div class="btn">Taxi Booking App</div>
                </div>
                <div class="box"><img src="png/winter-2.png" alt="">
                    <div class="btn">Taxi Booking App</div>
                </div>
                <div class="box"><img src="png/winter-4.png" alt="">
                    <div class="btn">Taxi Booking App</div>
                </div>
                <div class="box"><img src="png/winter-3.png" alt="">
                    <div class="btn">Taxi Booking App</div>
                </div>
                <div class="box"><img src="png/winter-6.png" alt="">
                    <div class="btn">Taxi Booking App</div>
                </div>
            </div>

        </div>
        <a href="" class="btn sol_btn">
            View All Solutions
        </a>
    </div>
</section>
<section class="contactUS">
    <div class="max-width">
        <div class="col_left"></div>
        <div class="col_right"></div>
    </div>
</section>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
        $('.solution-container').owlCarousel({
            margin: 10,
            nav: true,
            items: 3,
            loop: true,
            responsive: {},
            dots: false
        })

    });
</script>

<script src="js/particles.js"></script>
<script src="js/particlesConfig.js"></script>
</body>
</html>