*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Poppins';
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbd9d9; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}